.spaced-vertical {
  margin-top: 7px;
  margin-bottom: 5px;
}

.notifications {
  position: absolute;
  top:60px;
  left:0px;
  height: 300px;
  width: 100%;
  margin-left: 800px;
}

.clickable {
  cursor: pointer;
  &:hover {
    background-color: #EEF;
  }
}

.repo-picker {
  max-height: 500px;
  overflow-y: scroll;
}

.panel-body {
  background: #626269;
}

.issues-list {
  font-size: 1.3em;
  font-weight: 700;
}