{{ember-notify class="notifications" source=globalNotifications messageStyle='bootstrap'}}
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <span>{{fa-icon "github"}} GitHub Issue Viewer</span>
            </a>
          </div>
        </div>
        <div class="col-md-5">
          <form class="form-inline spaced-vertical">
            <div class="form-group">
              <label for="githubName" class="text-muted">Username</label>
              {{input value=username id="githubName" class="form-control" placeholder="Github Username"}}
            </div>
            <span class="btn btn-default" title="Fetch repos" {{action "getRepos" username}}>
              Submit
            </span>
            <button class="btn btn-default clear" title="clear" {{action "clearForm"}}>&times;</button>
          </form>
        </div>
        <div class="col-md-3">
          <div class="spaced-vertical">
            {{#if responseMeta.X-RateLimit-Remaining}}
              {{responseMeta.X-RateLimit-Remaining}} requests remaining
            {{else}}
              <p class="text-danger">Request limit exceeded.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{!-- TODO: Make proxy attribute for form so page title doesn't change in real time --}}
  {{#if lastFetchedUsername}}
    <h1>
      <i class="fa fa-github-square"></i>
      {{lastFetchedUsername}}
    </h1>
  {{/if}}
  {{outlet}}
</div>