<div class="row">
  <div class="col-md-4">
    {{!-- Master view --}}
    {{#if model.repos.length}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">
            Repositories <strong>{{currentRepo.name}}</strong>
          </span>
          <span class="btn btn-default btn-sm pull-right hidden-md" {{action "toggleReposCollapse"}}>
            {{fa-icon "bars"}}
          </span>
        </div>
        {{#unless reposAreCollapsed}}
          <div class="panel-body">
            {{"view" "repo-picker" content=model.repos}}
          </div>
        {{/unless}}
        <div class="panel-footer">
        </div>
      </div>
    {{/if}}
  </div>
  <div class="col-md-8">
    {{!-- Detail view --}}
    {{#if model.repos.length}}
      <h2>Issues</h2>
      <p class="lead">{{model.issues.length}} total issues</p>
    {{/if}}
    <ol class="issues-list">
      {{#each issue in model.issues}}
        <li>
          <p>{{issue.title}}</p>
        </li>
      {{/each}}
    </ol>
  </div>
</div>
